*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    /* width: 70%; */
    /* border: 1px solid black; */
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn {
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-green {
    color: #30B868;
}

#hero {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
}

.hero-container {
    padding: 150px;
    width: 85%;
    margin: 0 auto;
    justify-items: center;

}

.early-access{
    background-color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.hero-container h1{
    font-size: 72px;
}

.paragraph{
    padding: 16px 0;
    line-height: 30px;
}

.buttons{
    gap: 16px;
}

.play-button {
    color: white;
    background: none;
    padding: 12px 16px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}