* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  margin: 0px auto;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: white;
  background-color: #30b868;
  padding: 12px 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover, .play-button:hover {
  background-color: rgb(0, 140, 255);
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

.menu a {
  color: black;
  text-decoration: none;
}

.text-white {
  color: white;
}

.text-green {
  color: #30b868;
}

#hero {
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
}

.hero-container {
  padding: 150px;
  width: 85%;
  margin: 0 auto;
  justify-items: center;
}

.early-access {
  background-color: white;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.hero-container h1 {
  font-size: 72px;
}

.paragraph {
  font-size: 18px;
  padding: 16px 0;
  line-height: 30px;
}

.buttons {
  gap: 16px;
}

.play-button {
  color: white;
  background: none;
  padding: 12px 16px;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#card-section {
  padding: 100px 120px;
  justify-items: center;
  margin: 0 auto;
  text-align: center;
}

.card-heading {
  margin-bottom: 50px;
}

.heading {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}


.cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.card {
  padding: 70px 12px;
  box-shadow: 0 0 8px 0 #6273823f;
}

.fourth-card{
  padding: 58px 12px;
  box-shadow: 0 0 8px 0 #6273823f;
}

.fourth-card h3{
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  padding: 18px 0;
}

.icon {
  background-color: #f95555;
  padding: 16px;
  border-radius: 50%;
}
 
.card h3{
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.paragraphs {
  color: #627382;
}

#third-section{
  align-items: center;
  padding: 0 120px;
}

.third-container{
  display: flex;
  align-items: center;
  gap: 60px;
}

.solution{
  color: #30b868;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.second-part p{
  margin: 30px 0;
}

.flex {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.forth-container p {
  margin: 20px 0;
}

.box-shadow{
  box-shadow: 0 0 10px 20px #00000015;
}

footer {
  background-color: #001931;
  padding: 100px 120px 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .text-center {
  text-align: center;
 }

 .vertical-gap {
  margin: 50px 0 40px;
 }